.clientage {
  @media screen and(min-width: 480px) and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 45px;

    max-width: 450px;

    margin-right: auto;
    margin-left: auto;
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    padding: 0;

    max-width: 768px;

    margin-right: auto;
    margin-left: auto;
  }
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;

  &-header {
    @media screen and(min-width: 480px) and (max-width: 767px) {
      margin-bottom: 15px;
      font-size: 28px;
    }
    @media screen and(min-width: 768px) and (max-width: 1199px) {
      font-size: 28px;

      padding-top: 60px;

      margin-bottom: 30px;
    }
    margin-bottom: 50px;
    text-align: center;
    color: $main-color;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clientage-list {
  @media screen and(min-width: 480px) and (max-width: 767px) {
    // margin: -15px;
    width: 100%;
    max-width: 100%;
  }
  display: flex;
  flex-wrap: wrap;
}

.clientage-icon {
  @media screen and(min-width: 480px) and (max-width: 767px) {
    width: calc((100% - 60px) / 2);
    max-width: 100%;
    margin: 15px;
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 15px * 6) / 3);

    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    &:nth-child(n + 4) {
      margin-bottom: 60px;
    }
  }
  @media screen and(min-width: 1200px) and (max-width: 1600px) {
    width: calc((100% - 5 * 30px) / 6);
    margin-right: 30px;

    &:nth-child(6n) {
      margin-right: 0;
    }
  }
}
//=====

.clientage-svg {
  fill: $color-icon;
  text-align: center;
}

.clientage-btn:hover .clientage-svg,
.clientage-btn:focus .clientage-svg {
  fill: $link-color;
  stroke: 1px solid $link-color;
}

.clientage-icon button {
  @media screen and(min-width: 480px) and (max-width: 767px) {
    // width: 210px;
    width: 100%;
    max-width: 100%;
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    width: 100%;
    max-width: 100%;
  }
  width: 170px;
  height: 90px;

  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $body-color;
  border: 1px solid $color-icon;
  border-radius: $CardBorderRadius;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $link-color;
  }
}
