.page-header {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    position: relative;

    width: 100%;
    max-width: 480px;

    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-right: 0;
    padding-left: 0;

    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    .menu-burger,
    .menu-container {
      display: none;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    border-bottom: 1px solid $secondary-body-color;
  }

  // padding-left: 15px;
  // padding-right: 15px;
}

.page-nav {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 480px;
    width: 100%;

    padding: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
    max-width: 768px;
    padding-right: 15px;
    padding-left: 15px;
  }

  width: 1600px;
  width: 100%;
  display: flex;

  align-items: center;

  justify-content: space-between;

  padding-top: 25px;
  padding-bottom: 25px;
}
