// миксины, переменные и т.д.
$main-color: #212121;
$secondary-color: #757575;
$link-color: #2196f3;
$body-color: #ffffff;
$secondary-body-color: #f5f4fa;
$blackout-color: #2f303a;
$color-icon: #afb1b8;

$CardBorderRadius: 4px;
$FormBorderRadius: 10px;
