svg.auth-icon {
  vertical-align: baseline;

  &.phone-icon {
    vertical-align: baseline;
  }
}

.a-convert:hover .auth-icon,
.a-convert:focus .auth-icon {
  fill: $link-color;
}

.a-phone:hover .phone-icon,
.a-phone:focus .phone-icon {
  fill: $link-color;
}

.auth-nav a {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }
  @media screen and (max-width: 767px) {
    font-size: 18px;
    // margin-bottom: 16px;
  }

  color: $secondary-color;

  font-size: 14px;
  line-height: 1.14;
}

.auth-letter {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: $link-color;
}

.auth-icon {
  margin-right: 10px;

  &::before {
    content: "";
    display: inline-block;
    height: 11px;
    width: 16px;
    padding: 0;
    margin-right: 10px;
  }
}

.auth-phone::before {
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0;
    display: block;
  }
  content: "";
  display: inline-block;
  height: 15px;
  width: 10px;
  margin-right: 10px;
  background-image: url("../images/smartphone.svg");
}

.phone-icon {
  margin-right: 10px;
}

.auth-nav {
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    display: block;
    white-space: nowrap;
  }
  display: flex;
  margin-left: auto;

  & li + li {
    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-bottom: 60px;
    }
    margin-left: 50px;

    @media screen and(min-width: 768px) and (max-width: 1199px) {
      margin-left: 0;
    }
  }
}
