%logo-style {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: bold;
}
.logo-web {
  color: $link-color;
  @extend %logo-style;
}
.logo-studio {
  color: $main-color;
  @extend %logo-style;
}
